importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

loading datasets

In [2]:
df=pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv',usecols=['name','fuel','seller_type','transmission','owner'])
df.head()

                       name    fuel seller_type transmission         owner
0             Maruti 800 AC  Petrol  Individual       Manual   First Owner
1  Maruti Wagon R LXI Minor  Petrol  Individual       Manual   First Owner
2      Hyundai Verna 1.6 SX  Diesel  Individual       Manual   First Owner
3    Datsun RediGO T Option  Petrol  Individual       Manual   First Owner
4     Honda Amaze VX i-DTEC  Diesel  Individual       Manual  Second Owner

In [3]:
df.drop('name',axis=1,inplace=True)

In [4]:
df.head()

     fuel seller_type transmission         owner
0  Petrol  Individual       Manual   First Owner
1  Petrol  Individual       Manual   First Owner
2  Diesel  Individual       Manual   First Owner
3  Petrol  Individual       Manual   First Owner
4  Diesel  Individual       Manual  Second Owner

In [5]:
from sklearn.model_selection import train_test_split
x=df.drop('fuel',axis=1)
y=df['fuel']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
x_train

     seller_type transmission         owner
227   Individual       Manual   First Owner
964   Individual       Manual   First Owner
2045  Individual       Manual  Second Owner
1025  Individual       Manual   First Owner
4242      Dealer       Manual   First Owner
...          ...          ...           ...
3444  Individual       Manual   First Owner
466   Individual       Manual   First Owner
3092      Dealer       Manual   First Owner
3772  Individual       Manual   First Owner
860   Individual       Manual   First Owner

[3472 rows x 3 columns]

In [7]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
oe=OrdinalEncoder()
le=LabelEncoder()

In [8]:
y_train_scalled=le.fit_transform(y_train)
y_test_scalled=le.transform(y_test)

In [9]:
x_train_scalled=oe.fit_transform(x_train)
x_test_scalled=oe.transform(x_test)

In [10]:
x_train_scalled

array([[1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 2.],
       ...,
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.]])

In [11]:
x_train_scalled=pd.DataFrame(data=x_train_scalled,columns=x_train.columns)
x_test_scalled=pd.DataFrame(data=x_test_scalled,columns=x_train.columns)

In [12]:
x_train

     seller_type transmission         owner
227   Individual       Manual   First Owner
964   Individual       Manual   First Owner
2045  Individual       Manual  Second Owner
1025  Individual       Manual   First Owner
4242      Dealer       Manual   First Owner
...          ...          ...           ...
3444  Individual       Manual   First Owner
466   Individual       Manual   First Owner
3092      Dealer       Manual   First Owner
3772  Individual       Manual   First Owner
860   Individual       Manual   First Owner

[3472 rows x 3 columns]

In [13]:
x_train_scalled

      seller_type  transmission  owner
0             1.0           1.0    0.0
1             1.0           1.0    0.0
2             1.0           1.0    2.0
3             1.0           1.0    0.0
4             0.0           1.0    0.0
...           ...           ...    ...
3467          1.0           1.0    0.0
3468          1.0           1.0    0.0
3469          0.0           1.0    0.0
3470          1.0           1.0    0.0
3471          1.0           1.0    0.0

[3472 rows x 3 columns]