In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('8_df.csv')
df.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  NaN  1.0  1.0
1           1  2.0  2.0  2.0  2.0
2           2  3.0  3.0  NaN  3.0
3           3  NaN  2.0  4.0  4.0
4           4  5.0  5.0  5.0  NaN

In [3]:
df

   Unnamed: 0    A    B    C     D
0           0  1.0  NaN  1.0   1.0
1           1  2.0  2.0  2.0   2.0
2           2  3.0  3.0  NaN   3.0
3           3  NaN  2.0  4.0   4.0
4           4  5.0  5.0  5.0   NaN
5           5  6.0  6.0  NaN   6.0
6           6  3.0  3.0  3.0   7.0
7           7  NaN  3.0  4.0   8.0
8           8  8.0  NaN  4.0   9.0
9           9  9.0  9.0  9.0  10.0

In [4]:
from sklearn.impute import SimpleImputer
simple_mean=SimpleImputer(strategy='mean')

In [5]:
df['A']=simple_mean.fit_transform(df[['A']])

In [6]:
df['A']

0    1.000
1    2.000
2    3.000
3    4.625
4    5.000
5    6.000
6    3.000
7    4.625
8    8.000
9    9.000
Name: A, dtype: float64

In [8]:
df

   Unnamed: 0      A    B    C     D
0           0  1.000  NaN  1.0   1.0
1           1  2.000  2.0  2.0   2.0
2           2  3.000  3.0  NaN   3.0
3           3  4.625  2.0  4.0   4.0
4           4  5.000  5.0  5.0   NaN
5           5  6.000  6.0  NaN   6.0
6           6  3.000  3.0  3.0   7.0
7           7  4.625  3.0  4.0   8.0
8           8  8.000  NaN  4.0   9.0
9           9  9.000  9.0  9.0  10.0

In [9]:
simple_mode=SimpleImputer(strategy='most_frequent')
df['B']=simple_mode.fit_transform(df[['B']])

In [10]:
df

   Unnamed: 0      A    B    C     D
0           0  1.000  3.0  1.0   1.0
1           1  2.000  2.0  2.0   2.0
2           2  3.000  3.0  NaN   3.0
3           3  4.625  2.0  4.0   4.0
4           4  5.000  5.0  5.0   NaN
5           5  6.000  6.0  NaN   6.0
6           6  3.000  3.0  3.0   7.0
7           7  4.625  3.0  4.0   8.0
8           8  8.000  3.0  4.0   9.0
9           9  9.000  9.0  9.0  10.0

In [11]:
simple_median=SimpleImputer(strategy='median')
df['C']=simple_median.fit_transform(df[['C']])

In [12]:
df

   Unnamed: 0      A    B    C     D
0           0  1.000  3.0  1.0   1.0
1           1  2.000  2.0  2.0   2.0
2           2  3.000  3.0  4.0   3.0
3           3  4.625  2.0  4.0   4.0
4           4  5.000  5.0  5.0   NaN
5           5  6.000  6.0  4.0   6.0
6           6  3.000  3.0  3.0   7.0
7           7  4.625  3.0  4.0   8.0
8           8  8.000  3.0  4.0   9.0
9           9  9.000  9.0  9.0  10.0

In [14]:
df['D']=simple_median.fit_transform(df[['D']])

In [15]:
df

   Unnamed: 0      A    B    C     D
0           0  1.000  3.0  1.0   1.0
1           1  2.000  2.0  2.0   2.0
2           2  3.000  3.0  4.0   3.0
3           3  4.625  2.0  4.0   4.0
4           4  5.000  5.0  5.0   6.0
5           5  6.000  6.0  4.0   6.0
6           6  3.000  3.0  3.0   7.0
7           7  4.625  3.0  4.0   8.0
8           8  8.000  3.0  4.0   9.0
9           9  9.000  9.0  9.0  10.0