In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#loading data sets
df=pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')
df.head()

                       name  year  selling_price  km_driven    fuel seller_type transmission         owner
0             Maruti 800 AC  2007          60000      70000  Petrol  Individual       Manual   First Owner
1  Maruti Wagon R LXI Minor  2007         135000      50000  Petrol  Individual       Manual   First Owner
2      Hyundai Verna 1.6 SX  2012         600000     100000  Diesel  Individual       Manual   First Owner
3    Datsun RediGO T Option  2017         250000      46000  Petrol  Individual       Manual   First Owner
4     Honda Amaze VX i-DTEC  2014         450000     141000  Diesel  Individual       Manual  Second Owner

In [3]:
df.tail()

                                     name  year  selling_price  ...  seller_type transmission         owner
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014         409999  ...   Individual       Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014         409999  ...   Individual       Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009         110000  ...   Individual       Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016         865000  ...   Individual       Manual   First Owner
4339                     Renault KWID RXT  2016         225000  ...   Individual       Manual   First Owner

[5 rows x 8 columns]

In [4]:
#for model training we have to seperate the x and y
x=df.drop('selling_price',axis=1)
x.head()

                       name  year  km_driven    fuel seller_type transmission         owner
0             Maruti 800 AC  2007      70000  Petrol  Individual       Manual   First Owner
1  Maruti Wagon R LXI Minor  2007      50000  Petrol  Individual       Manual   First Owner
2      Hyundai Verna 1.6 SX  2012     100000  Diesel  Individual       Manual   First Owner
3    Datsun RediGO T Option  2017      46000  Petrol  Individual       Manual   First Owner
4     Honda Amaze VX i-DTEC  2014     141000  Diesel  Individual       Manual  Second Owner

In [5]:
y=df['selling_price']

In [6]:
y.head()

0     60000
1    135000
2    600000
3    250000
4    450000
Name: selling_price, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [8]:
x_train.shape

(3472, 7)

In [9]:
y_train.shape

(3472,)

In [10]:
x_test.shape

(868, 7)

In [11]:
y_test.shape

(868,)